{% extends './base.html' %}

{% block title %}TermAdminMenu{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-sm navbar-dark">
        <div class ="row">
            <div class = "col-sm-3">
                <a class="alignleft"></a>
                <a href="/admin/menu"><img src="{{ url_for('static', filename='img/schoolhive.png') }}" alt="" width="30" height="30"/></a>   
            </div>
            <div class = "col-sm-9" style="padding-top: 3px;">
                <a class="navbar-brand" href="/admin/menu">Schoolhive</a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <!-- User dropdown menu -->
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">admin["user_name"]</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown03">
                        <a class="dropdown-item" href="/student/profile">Perfil</a>
                        <a class="dropdown-item" href="/login/logout">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav> 
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #eeeeee;">
        <row>
            <h5 class="alignleft "><strong>Periodo: </strong> {{term['nombre']}}</h5>
            <h5 class="alignleft"><strong>Secciones y Materias del período: </strong> </h5>
        </row> 
            


        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav ml-auto">
                <li>
                    <div style="padding-right: 30px; padding-top: 10px;">
                        <!-- Create project button -->
                        <a class="w-100 h-30 btn btn-sm btn-primary" id="printBtn" style="background-color: #813035; display: block; text-align: center; line-height: 20px;">Generar Reporte del período</a>
                    </div>
                    
                </li>
                           
            </ul>
        </div>
       
       
    </nav>
    <div class="line"></div>
    <table class="ms-5 mt-5" style="border: 1px solid #813035; border-collapse: collapse; width:75%;">
        <tr>
          <th>Materia</th>
          <th>Sección</th>
          <th>Profesor</th>
          <th>Número de Participantes</th>
         
        </tr>

        {%for class in classes%}
        <tr>
            <td>{{class['nombre_materia']}}</td>    
            <td>{{class['seccion']}}</td>
            <td>{{class['profesor']}}</td>
            <td>{{class['num_participantes']}}</td>
        </tr>
        {%endfor%}
      
       
      </table>

      
    <script>
        // JavaScript to handle button click event and trigger printing
        document.getElementById('printBtn').addEventListener('click', function() {
            window.print();
        });
    </script>

    <!-- Include the necessary Bootstrap JavaScript and jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}
