{% extends './base.html' %}

{% block title %}adminMajorMenu{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-sm navbar-dark">
        <div class ="row">
            <div class = "col-sm-3">
                <a class="alignleft"></a>
                <a href="/admin/menu"><img src="{{ url_for('static', filename='img/schoolhive.png') }}" alt="" width="30" height="30"/></a>   
            </div>
            <div class = "col-sm-9" style="padding-top: 3px;">
                <a class="navbar-brand" href="/admin/menu">Schoolhive</a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <!-- User dropdown menu -->
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">admin["user_name"]</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown03">
                        <a class="dropdown-item" href="/admin/profile">Perfil</a>
                        <a class="dropdown-item" href="/login/logout">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav> 
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #eeeeee;">
        <row>
            <h3 class="alignleft">Carreras:</h3>
        </row> 
        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav ml-auto">
                <li>
                    <div style="padding-right: 30px; padding-top: 10px;">
                        <!-- Create project button -->
                        <a class="w-100 h-30 btn btn-sm btn-primary" href="/admin/major-create" style="background-color: #813035; display: block; text-align: center; line-height: 20px;">Crear Carrera</a>
                    </div>
                </li>
                           
            </ul>
        </div>
    </nav>
    <div class="line"></div>



    <div>
        <ul style="list-style-type: none;">
            {% for major in majors %}
            <li style="padding: 10px; margin-top: 10px; margin-bottom: 10px; margin-right: 250px; text-align: left; border: 1px solid #000; border-radius: 2%;">
                <div class="row">
                    <div class="col-md-6" style="margin-top: 5px;">
                        <h3>{{ major['major_name'] }}</h3>
                    </div>

                    
                    <div class="col-md-6 text-md-right" style="margin-top: 5px;">
                        <a href="/admin/major/{{major['major_name']}}">
                            <button class="btn btn-md btn-primary" style="background-color: #813035; margin-left: 150px;">
                                &nbsp&nbsp&nbspVer Detalles&nbsp&nbsp&nbsp
                            </button>
                        </a>
                        
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Include the necessary Bootstrap JavaScript and jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}
