html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: left;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #3B171B;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eeeeee;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* jpajpfojwfop */


body,
html {
  height: 100%;
  margin: 0;
}

.side-panel {
  height: 100vh;
  background-color: #3B171B;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.content {
  padding: 20px;
}

.form-inline {
  display: inline-block;
}

.navbar {
  margin-bottom: 20px;
}