{% extends './base.html' %}

{% block title %}adminDashboard{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-sm navbar-dark">
        <div class ="row">
            <div class = "col-sm-3">
                <a class="alignleft"></a>
                <a href="/admin/menu"><img src="{{ url_for('static', filename='img/schoolhive.png') }}" alt="" width="30" height="30"/></a>   
            </div>
            <div class = "col-sm-9" style="padding-top: 3px;">
                <a class="navbar-brand" href="/admin/menu">Schoolhive</a>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <!-- User dropdown menu -->
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">admin["user_name"]</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown03">
                        <a class="dropdown-item" href="/admin/profile">Perfil</a>
                        <a class="dropdown-item" href="/login/logout">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
       
    <h1 class="mt-3">Administrador</h1>
    <h5>Menú principal:</h5>
    <h5 class="mb-5">Seleciona el campo a gestionar:</h5>
    
    
        <div class="d-grid gap-2 col-4 mx-auto">
            <a class="mx-auto" href="/admin/professor-menu"><button class="w-10 btn btn-md btn-primary" style="background-color: #813035;">Profesores</button></a>
            <a class="mx-auto" href="/admin/section-menu"><button class="w-10 btn btn-md btn-primary" style="background-color: #813035;">Secciones</button></a>
            <a class="mx-auto" href="/admin/student-menu"><button class="w-10 btn btn-md btn-primary" style="background-color: #813035;">Estudiantes</button></a>
            <a class="mx-auto" href="/admin/class-menu"><button class="w-10 btn btn-md btn-primary" style="background-color: #813035;">Materias</button></a>
            <a class="mx-auto" href="/admin/major-menu"><button class="w-10 btn btn-md btn-primary" style="background-color: #813035;">Carreras</button></a>
            <a class="mx-auto" href="/admin/term-menu"><button class="w-10 btn btn-md btn-primary" style="background-color: #813035;">Períodos</button></a>
        </div>
   

 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}