{% extends './base.html' %}

{% block title %}adminProfileEdit{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-sm navbar-dark">
        <div class ="row">
            <div class = "col-sm-3">
                <a class="alignleft"></a>
                <a href="/admin/menu"><img src="{{ url_for('static', filename='img/schoolhive.png') }}" alt="" width="30" height="30"/></a>   
            </div>
            <div class = "col-sm-9" style="padding-top: 3px;">
                <a class="navbar-brand" href="/admin/menu">Schoolhive</a>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <!-- User dropdown menu -->
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">admin["user_name"]</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown03">
                        <a class="dropdown-item" href="/admin/profile">Perfil</a>
                        <a class="dropdown-item" href="/auth/logout">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav> 

    <form class="form-signin" action="/admin-profile-edit" method="POST">
        <h3><strong>Edición de perfil</strong></h3>
        <h5>Edita los campos de tu perfil que deseas modificar</h5>
        <h5 style="text-align: left;">Cedula: (admin_cedula)</h5>
        <div class="form-floating">
            <input type="email" class="form-control" id="email" name="email" placeholder="email" value="admin_email">
            <label for="email">E-mail</label>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-floating mt-2">
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="nombre" value="admin_nombre">
                    <label for="nombre">Nombre</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating mt-2">
                    <input type="text" class="form-control" id="apellido" name="apellido" placeholder="apellido" value="admin_apellido">
                    <label for="apellido">Apellido</label>
                </div>    
            </div>
        </div>
       
        <div class="form-floating mt-2">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            <label for="password">Contraseña Actual</label>
        </div>
        <div class="form-floating mt-2">
            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="newPassword">
            <label for="password">Contraseña Nueva</label>
        </div>
        <div class="form-floating mt-2">
            <input type="password" class="form-control" id="confirmarNewPassword" name="confirmarNewPassword" placeholder="confirmarNewPassword">
            <label for="password">Confirmar Contraseña Nueva</label>
        </div>
        <div class="msg">{{ msg }}</div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" style="background-color: #813035;">Editar Datos</button>
    </form>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}